.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-image: url(../../assets/img/pernalonga-nosso.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.about h1 {
    margin-top: 100px;
}
.about p {
    max-width: 500px;
}
.about a {
    display: block;
    padding: 10px 15px;
}