.login {
    text-align: center;
}
.login h1 {
    margin-top: 100px;
}
.login p {
    color: var(--lighterBasicColor);
}
.login a {
    color: var(--basicColor);
    margin-bottom: 30px;
    text-align: left;
    border-bottom: 1px solid var(--basicColor);
}
.login a:hover {
    color: var(--lighterBasicColor);
}