.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard h2 {
  font-size: 2.2em;
  margin-bottom:  1.5em;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
}
.postHeader {
  font-weight: bold;
  border-bottom:  2px solid var(--basicColor);
}

.postContent {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 10px;
  flex-wrap: wrap;
}

.postRow {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}
.postRow button, .postRow a {
  margin: 0 5px;
}
.postRow p {
  text-align: left;
  max-width: 300px;
  color: var(--basicColor);
}
.postRow img {
  width: 200px;
  height: 200px;
}

.divBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.noPosts {
  text-align: center;
}
.noPosts p {
  margin: 1.5em 0;
}