.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .25) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5em 2em;
    gap: 20px;
    background-color: var(--secondaryBackground);
}
.navbar a, .navbar button {
    color: var(--navColor);
}
.navbar a:hover, .navbar button:hover {
    color: var(--navHoverColor);
}

.brand {
    font-size: 1.2em;
}
.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.linksList {
    display: flex;
    flex-wrap: wrap;
}
.linksList li {
    margin-right: 1em;
}
.linksList li a {
    
    padding: .4em .6em;
}

.active {
    background-color: var(--tertiaryBackground);
    color: var(--navHoverColor);
    border-radius: 4px;
}
@media (max-width: 650px) {
    .navbar {
        justify-content: center;
    }
    .linksList {
        gap: 5px;
        justify-content: center;
    }
}