.postDetail {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}
.postDetail h2 {
  margin: 10px 0;
}
.postDetail img {
  width: 500px;
  border-radius: 5px;
}

.title {
  word-break: break-word;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tags {
  display: flex;
}

.tags p {
  margin-right: 0.5em;
  font-size: 1em;
}

.tags span {
  font-weight: bold;
}

.createdBy {
  font-style: italic;
  color: var(--buttonColor);
  font-size: 0.8em;
}

@media (max-width: 590px) {
  .postDetail img  {
    width: 100%;
  }
}