:root {
  line-height: 1.5;
  --basicColor: rgba(255, 255, 255, 0.87);
  --lighterBasicColor: rgb(187, 187, 187);
  --globalBackground: #242424;
  --secondaryBackground: rgb(152, 62, 62); /* rgba(53 53 53); */
  --tertiaryBackground: #292929;
  --navColor: white; /* #646cff */
  --navHoverColor: rgb(216, 216, 216); /* #535bf2 */
  --buttonColor: rgb(219, 24, 24); /* #646cff */
  --buttonHoverColor: rgb(175, 20, 20); /* #535bf2 */
  --buttonDanger: rgb(190, 0, 0);
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

body {
  background-color: var(--globalBackground);
  color: var(--basicColor);
}
h1, h2, h3, h4, span, p, a, textarea, input, label {
  text-shadow: 3px 3px 2px var(--globalBackground);
}

a {
  font-weight: 500;
  color: var(--buttonColor);
  border: none;
  transition: 0.4s;
}
a:hover, button:hover {
  color: var(--buttonHoverColor);
}

h1 {
  font-size: 2.7em;
  line-height: 1.1;
  margin-top: 30px;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-weight: 500;
  color: var(--buttonColor);
  border: none;
  transition: 0.4s;
  text-shadow: 3px 3px 2px var(--globalBackground);
  font-size: 16px;
}

button:focus,
button:focus-visible {
  outline: none;
}
button[disabled] {
  opacity: 0.5;
}

input,
textarea {
  color: var(--basicColor);
  width: 100%;
  padding: 0 5px;
  background-color: transparent;
  border-bottom: 1px solid var(--secondaryBackground);
}
input:focus,
textarea:focus {
  border: 1px solid var(--buttonHoverColor);
  outline: none;
}

form {
  max-width: 50%;
  margin: 50px auto 0 auto;
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--basicColor);
  color: var(--buttonColor);
  cursor: pointer;
  transition: border-color 0.25s;
  text-shadow: none;
}
.btn.btnDark {
  background-color: var(--tertiaryBackground);
}
.btn.btnDanger:hover {
  transition: .3s;
  color: var(--basicColor);
  background-color: var(--buttonDanger);
}
/* .btn.btnDark:hover {
  
} */

.container .error {
  color: #E75A7C;
  background-color: var(--secondaryBackground);
  border: 1px solid #E75A7C;
  padding: 5px;
  border-radius: 4px;
  margin: 20px 0;
}